            <header id="header">
                <div id="masthead">
                    <div class="site-name">
                        <h1 class="site-title">Edgar's Blog</h1>
                    </div>
                    <nav class="access" role="navigation">
                        <ul>
                            <li><a href="http://url.edgar.im/about">About</a></li>
                            <li><a href="http://url.edgar.im/projects">Projects</a></li>
                        </ul>
                    </nav>
                    <!--
                    <form method="get" id="searchform" action="http://blog.edgar.im/">
                        <label for="s" class="assistive-text">Search</label>
                        <input type="text" class="field" name="s" id="s" placeholder="Search" />
                        <input type="submit" class="submit" name="submit" id="searchsubmit" value="Search" />
                    </form>
                    -->
                </div>
            </header>
