            <header id="header">
                <div id="masthead">
                    <div class="post-name">
                        <h1 class="post-title">{{ page.title}}</h1>
                    </div>
                    <nav class="access" role="navigation">
                        <ul>
                            <li><a href="http://about.me/edgarhoo">About</a></li>
                            <li><a href="http://blog.edgar.im/">Blog</a></li>
                            <li><a href="http://labs.edgar.im/">Labs</a></li>
                            <li><a href="https://github.com/edgarhoo">Projects</a></li>
                            <li><a href="http://slides.edgar.im/">Slides</a></li>
                        </ul>
                    </nav>
                </div>
            </header>
