            <header id="header">
                <div id="masthead">
                    <div class="post-name">
                        <h1 class="post-title">{{ page.title}}</h1>
                    </div>
                    <nav class="access" role="navigation">
                        <ul>
                            <li><a href="/">Blog</a></li>
                            <li><a href="http://url.edgar.im/about">About</a></li>
                            <li><a href="http://url.edgar.im/projects">Projects</a></li>
                        </ul>
                    </nav>
                </div>
            </header>
