                <aside id="blogroll" class="widget widget_blogroll">
                    <h3 class="widget-title">Blogroll</h3>
                    <ul class="blogroll">
                        <li><a href="http://fangdeng.org/" rel="met colleague" target="_blank">方凳会</a></li>
                        <li><a href="http://oldj.net/" rel="friend met colleague" target="_blank">oldj's blog</a></li>
                        <li><a href="http://blog.allenm.me/" rel="friend met colleague" target="_blank">Allen.M成长的路</a></li>
                    </ul>
                </aside>
