                <aside id="blogroll" class="widget widget-blogroll">
                    <h3 class="widget-title">Blogroll</h3>
                    <ul class="blogroll">
                        <li><a href="http://fangdeng.org/" rel="met colleague" target="_blank">方凳会</a></li>
                        <li><a href="http://oldj.net/" rel="friend met colleague" target="_blank">oldj's blog</a></li>
                        <li><a href="http://blog.allenm.me/" rel="friend met colleague" target="_blank">Allen.M成长的路</a></li>
                        <li><a href="http://q.pnq.cc/" rel="friend met colleague" target="_blank">FLASHLIGHT</a></li>
                        <li><a href="http://yoyo.im//" rel="friend met colleague" target="_blank">由笑笑的博客</a></li>
                        <li><a href="http://ginano.net/" rel="friend met colleague" target="_blank">前端开发之Ginano</a></li>
                        <!--
                        <li><a href="http://bencode.org/" rel="friend met colleague" target="_blank">bencode编码笔记</a></li>
                        -->
                    </ul>
                </aside>
